{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "fb27b496f145f10a689c344fbd1d7def",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dev-857255.okta.com/api/v1/org/privacy/oktaSupport"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 216,
            "text": "{\"support\":\"DISABLED\",\"expiration\":null,\"_links\":{\"grant\":{\"href\":\"https://dev-857255.okta.com/api/v1/org/privacy/oktaSupport/grant\",\"hints\":{\"allow\":[\"POST\"]}}}}"
          },
            {
              "expires": "1970-01-01T00:00:10.000Z",
              "name": "autolaunch_triggered",
              "path": "/",
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "JSESSIONID",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "public-key-pins-report-only",
              "value": "[REDACTED]"
            },
            {
              "name": "x-okta-request-id",
              "value": "ZMgHWdFAmKsYccXbRix0_QAACH8"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "500"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "499"
            },
            {
              "name": "x-rate-limit-reset",
              "value": "1690830741"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 377,
      },
      {
        "_id": "fc1ddb166ee2dec79cc0e7a7e5a980f5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dev-857255.okta.com/api/v1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4080,
            "text": "[{\"id\":\"00u1cagurdhtxqBdf4x7\",\"status\":\"ACTIVE\",\"created\":\"2020-11-06T15:47:18.000Z\",\"activated\":\"2020-12-02T17:07:38.000Z\",\"statusChanged\":\"2023-03-08T13:35:16.000Z\",\"lastLogin\":\"2023-05-09T13:14:09.000Z\",\"lastUpdated\":\"2023-03-08T13:35:16.000Z\",\"passwordChanged\":\"2023-03-08T13:35:16.000Z\",\"type\":{\"id\":\"otys5to4jqDf0Ws0W4x6\"},\"profile\":{\"firstName\":\"Nick\",\"lastName\":\"Dowmon\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"nick.dowmon@jupiterone.com\",\"email\":\"nick.dowmon@jupiterone.com\"},\"credentials\":{\"password\":{},\"emails\":[{\"value\":\"nick.dowmon@jupiterone.com\",\"status\":\"VERIFIED\",\"type\":\"PRIMARY\"}],\"recovery_question\":{\"question\":\"Where did you meet your spouse/significant other?\"},\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"self\":{\"href\":\"https://dev-857255.okta.com/api/v1/users/00u1cagurdhtxqBdf4x7\"}}},{\"id\":\"00u6b1uy23BmWEf6B4x7\",\"status\":\"ACTIVE\",\"created\":\"2022-02-23T15:23:50.000Z\",\"activated\":\"2022-02-23T15:23:50.000Z\",\"statusChanged\":\"2022-02-23T15:25:27.000Z\",\"lastLogin\":\"2023-06-01T20:20:19.000Z\",\"lastUpdated\":\"2022-02-23T15:25:27.000Z\",\"passwordChanged\":\"2022-02-23T15:25:27.000Z\",\"type\":{\"id\":\"otys5to4jqDf0Ws0W4x6\"},\"profile\":{\"firstName\":\"Adam\",\"lastName\":\"Pierson\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"adam.pierson@jupiterone.com\",\"email\":\"adam.pierson@jupiterone.com\"},\"credentials\":{\"password\":{},\"emails\":[{\"value\":\"adam.pierson@jupiterone.com\",\"status\":\"VERIFIED\",\"type\":\"PRIMARY\"}],\"recovery_question\":{\"question\":\"What is the name of your first stuffed animal?\"},\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"self\":{\"href\":\"https://dev-857255.okta.com/api/v1/users/00u6b1uy23BmWEf6B4x7\"}}},{\"id\":\"00u7s5agvx0oYpjLK4x7\",\"status\":\"ACTIVE\",\"created\":\"2022-06-23T02:01:16.000Z\",\"activated\":\"2022-06-23T02:01:16.000Z\",\"statusChanged\":\"2022-06-23T02:02:52.000Z\",\"lastLogin\":\"2023-07-24T19:03:03.000Z\",\"lastUpdated\":\"2023-06-08T19:42:40.000Z\",\"passwordChanged\":\"2022-06-23T02:02:52.000Z\",\"type\":{\"id\":\"otys5to4jqDf0Ws0W4x6\"},\"profile\":{\"firstName\":\"erstin\",\"lastName\":\"kerrrrr\",\"mobilePhone\":null,\"nickName\":\"austie\",\"secondEmail\":null,\"login\":\"austin.kelleher@jupiterone.dev\",\"email\":\"austin.kelleher@jupiterone.dev\"},\"credentials\":{\"password\":{},\"emails\":[{\"value\":\"austin.kelleher@jupiterone.dev\",\"status\":\"VERIFIED\",\"type\":\"PRIMARY\"}],\"recovery_question\":{\"question\":\"What is your favorite piece of art?\"},\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"self\":{\"href\":\"https://dev-857255.okta.com/api/v1/users/00u7s5agvx0oYpjLK4x7\"}}},{\"id\":\"[...]
