{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "02fc7110802c26f0f0372a8aecbfaa5c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dev-857255.okta.com/api/v1/groups"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1056,
            "text": "[{\"id\":\"00gs5to49AhMBaJNU4x6\",\"created\":\"2020-08-27T01:06:34.000Z\",\"lastUpdated\":\"2020-08-27T01:06:34.000Z\",\"lastMembershipUpdated\":\"2021-03-25T13:00:33.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"BUILT_IN\",\"profile\":{\"name\":\"Everyone\",\"description\":\"All users in your organization\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://ok11static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://ok11static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png\",\"type\":\"image/png\"}],\"users\":{\"href\":\"https://dev-857255.okta.com/api/v1/groups/00gs5to49AhMBaJNU4x6/users\"},\"apps\":{\"href\":\"https://dev-857255.okta.com/api/v1/groups/00gs5to49AhMBaJNU4x6/apps\"}}},{\"id\":\"00g2ovdjf9Ahbffgj4x7\",\"created\":\"2021-03-25T16:07:23.000Z\",\"lastUpdated\":\"2021-03-25T16:07:23.000Z\",\"lastMembershipUpdated\":\"2021-03-25T16:07:23.000Z\",\"objectClass\":[\"okta:user_group\"],\"type\":\"OKTA_GROUP\",\"profile\":{\"name\":\"Test Group\",\"description\":\"A group of testers testing groups of tests\"},\"_links\":{\"logo\":[{\"name\":\"medium\",\"href\":\"https://ok11static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.1a5ebe44c4244fb796c235d86b47e3bb.png\",\"type\":\"image/png\"},{\"name\":\"large\",\"href\":\"https://ok11static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.d9cfbd8a00a4feac1aa5612ba02e99c0.png\",\"type\":\"image/png\"}],\"users\":{\"href\":\"https://dev-857255.okta.com/api/v1/groups/00g2ovdjf9Ahbffgj4x7/users\"},\"apps\":{\"href\":\"https://dev-857255.okta.com/api/v1/groups/00g2ovdjf9Ahbffgj4x7/apps\"}}}]"
          },
            {
              "httpOnly": true,
              "name": "JSESSIONID",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "public-key-pins-report-only",
              "value": "[REDACTED]"
            },
            {
              "name": "x-okta-request-id",
              "value": "YHcZrE-GI7--MUT1DOQaNAAADdw"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "500"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "499"
            },
            {
              "name": "x-rate-limit-reset",
              "value": "1618418152"
            },
            {
              "name": "link",
              "value": "<https://dev-857255.okta.com/api/v1/groups?limit=10000>; rel=\"self\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 318,
      },
      {
        "_id": "fc1ddb166ee2dec79cc0e7a7e5a980f5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dev-857255.okta.com/api/v1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2146,
            "text": "[{\"id\":\"00u1cagurdhtxqBdf4x7\",\"status\":\"ACTIVE\",\"created\":\"2020-11-06T15:47:18.000Z\",\"activated\":\"2020-12-02T17:07:38.000Z\",\"statusChanged\":\"2020-12-02T17:18:55.000Z\",\"lastLogin\":\"2020-12-03T16:39:33.000Z\",\"lastUpdated\":\"2020-12-02T17:18:55.000Z\",\"passwordChanged\":\"2020-12-02T17:18:55.000Z\",\"type\":{\"id\":\"otys5to4jqDf0Ws0W4x6\"},\"profile\":{\"firstName\":\"Nick\",\"lastName\":\"Dowmon\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"nick.dowmon@jupiterone.com\",\"email\":\"nick.dowmon@jupiterone.com\"},\"credentials\":{\"password\":{},\"emails\":[{\"value\":\"nick.dowmon@jupiterone.com\",\"status\":\"VERIFIED\",\"type\":\"PRIMARY\"}],\"recovery_question\":{\"question\":\"[REDACTED]\"},\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"self\":{\"href\":\"https://dev-857255.okta.com/api/v1/users/00u1cagurdhtxqBdf4x7\"}}},{\"id\":\"00u2ot2iur46vIUsV4x7\",\"status\":\"ACTIVE\",\"created\":\"2021-03-25T13:00:33.000Z\",\"activated\":\"2021-03-25T13:00:33.000Z\",\"statusChanged\":\"2021-03-25T15:00:14.000Z\",\"lastLogin\":\"2021-04-13T15:20:22.000Z\",\"lastUpdated\":\"2021-03-25T15:00:14.000Z\",\"passwordChanged\":\"2021-03-25T15:00:14.000Z\",\"type\":{\"id\":\"otys5to4jqDf0Ws0W4x6\"},\"profile\":{\"firstName\":\"Kevin\",\"lastName\":\"Cas[...]
