{
  "log": {
    "_recordingName": "delayNextApiRequest",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "3b2c11e19d415a982b35ef7f45171a59",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dev-857255-admin.okta.com/api/v1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1834,
            "text": "[{\"id\":\"00u1cagurdhtxqBdf4x7\",\"status\":\"ACTIVE\",\"created\":\"2020-11-06T15:47:18.000Z\",\"activated\":\"2020-12-02T17:07:38.000Z\",\"statusChanged\":\"2020-12-02T17:18:55.000Z\",\"lastLogin\":\"2020-12-02T17:18:55.000Z\",\"lastUpdated\":\"2020-12-02T17:18:55.000Z\",\"passwordChanged\":\"2020-12-02T17:18:55.000Z\",\"type\":{\"id\":\"otys5to4jqDf0Ws0W4x6\"},\"profile\":{\"firstName\":\"Nick\",\"lastName\":\"Dowmon\",\"mobilePhone\":null,\"secondEmail\":null,\"login\":\"[REDACTED]\",\"email\":\"[REDACTED]\"},\"credentials\":{\"password\":{},\"emails\":[{\"value\":\"[REDACTED]\",\"status\":\"VERIFIED\",\"type\":\"PRIMARY\"}],\"recovery_question\":{\"question\":\"[REDACTED]\"},\"provider\":{\"type\":\"OKTA\",\"name\":\"OKTA\"}},\"_links\":{\"self\":{\"href\":\"https://dev-857255.okta.com/api/v1/users/00u1cagurdhtxqBdf4x7\"}}},{\"id\":\"00us5to77GW1mVs6w4x6\",\"status\":\"ACTIVE\",\"created\":\"2020-08-27T01:06:39.000Z\",\"activated\":null,\"statusChanged\":\"2020-08-27T01:08:57.000Z\",\"lastLogin\":\"2020-11-06T15:46:17.000Z\",\"lastUpdated\":\"2020-08-27T01:08:57.000Z\",\"passwordChanged\":\"2020-08-27T01:08:57.000Z\",\"type\":{\"id\":\"otys5to4jqDf0Ws0W4x6\"},\"profile\":{\"firstName\":\"Erkang\",\"lastName\":\"Zheng\",\"mobilePhone\":null,\"secon[...]
