{
  "log": {
    "_recordingName": "callfakeuser",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "6b2eca4d527e749714739ddcdceeefb9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dev-857255.okta.com/api/v1/users/thisisafakekey/factors"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 294,
            "text": "{\"errorCode\":\"E0000007\",\"errorSummary\":\"Not found: Resource not found: thisisafakekey (User)\",\"errorLink\":\"E0000007\",\"errorId\":\"oaetx9gVpKDSpSDxcwtKPzzLg\",\"errorCauses\":[]}"
          },
            {
              "httpOnly": true,
              "name": "JSESSIONID",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "public-key-pins-report-only",
              "value": "[REDACTED]"
            },
            {
              "name": "x-okta-request-id",
              "value": "YPrdpmdsvMZUIRc69aXKgAAACsk"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "600"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "599"
            },
            {
              "name": "x-rate-limit-reset",
              "value": "1627053538"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 322,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
